@model IEnumerable<ElectricalEmulator.Application.ViewModels.Classes.ClassViewModel>

@{
    ViewData["Title"] = "لیست کلاس ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PluginStyles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/dist/css/custom-datatables.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/select2.min.css">
}

@section PluginScripts {
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/dist/js/custom-datatables.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/select2.full.min.js"></script>
}

@section Modals {
    <script>
        createClass = () => {
            $.get('@Url.Action("CreateClass", "Master")', data => {
                $('#exampleModal').modal('show')
                $('#exampleModalLabel').html('افزودن کلاس')
                $('.modal-body').html(data)
            })
        }
        deleteClass = classGuid => {
            $.get('/Class/Delete?classGuid=' + classGuid, data => {
                $('#exampleModal').modal('show')
                $('#exampleModalLabel').html('حذف کلاس')
                $('.modal-body').html(data)
            })
        }
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">داشبورد</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="pull-left" data-toggle='tooltip' data-placement='auto' title='افزودن کلاس'>
                    <a href="javascript:void(0)" onclick="createClass()">
                        <i class="fa fa-plus navigation-btn-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <th>@Html.DisplayNameFor(model => model.User)</th>
                                <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                                <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
                                <th>کنترل</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var counter = 1;

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(counter++)</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@(item.User.FirstName + " " + item.User.LastName)</td>
                                        <td>@item.CreationDate</td>
                                        <td>@item.ModifiedDate</td>
                                        <td>
                                            <a href="@Url.Action("Students", "Class", new { classGuid = item.ClassGuid })" class="btn btn-primary btn-sm control" data-toggle="tooltip" data-placement="auto" title="لیست دانشجویان">
                                                <i class="fa fa-user-circle"></i>
                                            </a>
                                            <a href="javascript:void(0)" onclick="" class="btn btn-sm btn-warning control" data-toggle="tooltip" data-placement="auto" title="ویرایش">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="javascript:void(0)" onclick="deleteClass('@item.ClassGuid')" class="btn btn-sm btn-danger control" data-toggle="tooltip" data-placement="auto" title="حذف">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->